<div class="row">
  <div class="col s6">
    <p><%= @product.description %></p>
    <p><%= number_to_currency @product.price %></p>
    <%= render partial: "order_items/form", locals: {product: @product} %>
  </div>
  <div class="col s6">
    <%= image_tag @product.image.url, class: 'image' %>
  </div>
</div>
