
<div class="row" id="product_list">
  <h3>Products</h3>
  <div class="section">
    <% @products.each do |product| %>
      <div class="col s4">
        <h4><%= link_to product.name, product_path(product), remote: true %></h4>
        <p><%= product.description %></p>
        <p><%= number_to_currency product.price %></p>
        <%= render partial: "order_items/form", locals: {product: product} %>
      </div>
    <% end %>
  </div>
</div>
<div id="product_detail"></div>
