
<div class="row">
  <h3>Products</h3>
  <div class="section">
    <% @products.each do |product| %>
      <div class="col s4">
        <h4 id="product_link_<%= product.id %>"><%= link_to product.name, product_path(product), remote: true %></h4>
        <div id="product_detail_<%= product.id %>"></div>
      </div>
    <% end %>
  </div>
</div>
<div id="product_detail"></div>
